<!-- erb is embeded ruby and has two basic commands. Its not rails
specific. It can be used to produce html, jason, etc. 

Commands: 

"<%= we can put ruby code in here %>" this is an ERB tag with '=' it will inserted
"<% %>" This way the code will be run but not inserted

This is done in order to mix ruby code with static content. 

ideally we would perform the quesries in the controller and then use the views
only to present the data.

cats_url(cat) This line construcs a url for us so that the links posted
go to the appropriate controller. The 'cats' part comes from the prefix when we rake 
in the console. 
 -->

<h1>All The Cats!</h1>

<ul>
  <li><a href="<%= cats_url %>">All</a></li>
  <% Tag.all.each do |tag| %>
    <li><a href="<%= cats_url(tag: tag.name) %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= cat_link(cat) %>

      <form action="<%= cat_url(cat) %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Destroy Cat!">
      </form>
    </li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">New Cat!</a>